body {
    color: black;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
}

#cabecera {
    background: black;
    color: white;
    padding: 1rem 0;
    font-size: 3rem;
}

#cabecera span {
    font-size: 1rem;
}